#-------------------------
# Operating System Junk
#-------------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Linux
*~
.directory
.Trash-*

#-------------------------
# Environment Files
#-------------------------
.env
.vagrant
Vagrantfile

#-------------------------
# Writable Directories (cache, logs, sessions, uploads)
#-------------------------
writable/
writable/logs/
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
!writable/debugbar/.gitkeep

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
tests/coverage*
phpunit

#-------------------------
# Composer Dependencies
#-------------------------
vendor/

#-------------------------
# IDE / Editor Files
#-------------------------
.idea/
*.iml
nbproject/
.vscode/
*.sublime-project
*.sublime-workspace
.phpintel

#-------------------------
# Other
#-------------------------
_modules/
.php-version
/api/
results/
phpunit*.xml
.phpunit.*.cache
